@import "./variables";

#main2 {
	min-height: 70vh;
	padding: 3rem;

	.title {
		text-align: center;
		margin: 0;
	}

	#main_description {
		display: flex;
		margin-top: 0;
		font-size: 1.25rem;
		font-weight: 400;
		width: 50%;
		text-align: justify;
		float: left;
		box-shadow: 0px 2px 7px #cccccc;
		border-radius: 5px;
		padding: 1rem;

		@media screen and (max-width: 930px) {
			width: 450px;
			font-size: 1rem;
		}

		@media screen and (max-width: 1250px) {
			width: 85%;
		}
	}

	#main_img {
		display: flex;
		width: 450px;
		float: right;
		box-shadow: 0px 2px 7px #cccccc;
		border-radius: 5px;
	}

	#desc_container {
		margin-top: 100px;
		display: flex;
		justify-content: space-around;
		gap: 40px;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 100px;
	}

	#planning {
		border: 1px solid $dark_sep;
		border-radius: 3px;
		box-shadow: 4px 4px $dark_sep;
		text-align: center;

		@media screen and (min-width: 1300px) {
			width: 1200px;
		}

		padding: 5px;
	}

	.event_name {
		border-bottom: 1px solid $dark;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		font-weight: lighter;
		padding: 10px;
		margin: 0;
	}

	a span {
		color: white;
		text-decoration: none;
	}

	#border_to_hide {
		margin-bottom: 2px;
		border-bottom: none;
	}

	.Date_planning {
		font-weight: bold;
		text-transform: uppercase;
	}

	#infos_planning {
		margin-top: 0;
		font-size: 15px;
	}

	.test {
		position: relative;
	}

	.more-info {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		cursor: pointer;
		padding: 13px 10px;
		border-radius: 0.5rem;
		&:hover {
			color: $accent_main;
			background-color: $light_hover;
		}
	}

	@media screen and (max-width: 920px) {
		.optional {
			display: none;
		}
	}

	@media screen and (min-width: 921px) {
		.more-info {
			display: none;
		}
	}
}
