@import "./variables";

.title {
    text-align: center;
}

#main_description {
    display: flex;
    margin-top: 0;
    font-size: 1rem;
    font-weight: 400;
    width: 50%;
    padding: 0 10px;
    text-align: justify;
    float: left;

    @media screen and (max-width: 930px) {
        width: 450px;
    }
}

#main_img {
    display: flex;
    width: 450px;
    float: right;
}

#desc_container {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

#planning {
    border: 1px solid $dark_sep;
    border-radius: 3px;
    box-shadow: 4px 4px $dark_sep;
    text-align: center;
}

.event_name {
    border-bottom: 1px solid $dark;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
}

a span {
    color: white;
    text-decoration: none;
}

#border_to_hide {
    margin-bottom: 2px;
    border-bottom: none;
}

.Date_planning {
    font-weight: bold;
}

#infos_planning {
    margin-top: 0; 
    font-size: 15px;
}