@import "./variables";

#footer {
	font-size: 2rem;
	background-color: $dark;
	color: $light;
	padding: 3rem;

	#footer-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 2rem;
		border-bottom: 1px solid $dark_sep;
		padding-bottom: 3rem;
		margin-bottom: 3rem;

		&-1,
		&-2 {
			flex: 2 1 0;
			> * {
				margin: 0;
			}
		}

		&-1 {
			flex: 3 1 0;
			h3 {
				margin-bottom: 3rem;
			}

			h4 {
				font-size: 1.5rem;
				padding: 0.5rem 0;
			}
		}

		&-2 {
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			text-align: right;
			font-style: italic;
			font-size: 2rem;
			font-weight: 400;
		}
	}

	#footer-links {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;

		&-info {
			font-size: 1.25rem;

			div {
				& span:not(:last-of-type)::after {
					content: " — ";
				}
			}

			#footer-copyright {
				color: $dark_sep;
			}
		}

		&-contact {
			display: flex;
			flex-direction: row;
			gap: 1rem;
		}

		.logo {
			padding: 15px 10px;
			background-color: transparent;
			border-radius: $icon_border;
			transition: background-color 100ms ease, color 100ms ease;
			cursor: pointer;

			&:hover {
				background-color: lighten($dark, 10%);
				color: $accent_main;
			}
		}

		p {
			margin: 0;
		}

		a {
			text-decoration: none;
			color: white;
		}
	}

	@media screen and (max-width: $mediaTabletMax) {
		#footer-content {
			&-1 {
				text-align: center;
			}

			&-2 {
				display: none;
			}
		}

		#footer-links {
			&-info {
				width: 100%;
				text-align: center;

				div {
					& span {
						&:not(:last-of-type) {
							display: block;
							margin: 0 0 1rem 0;

							&::after {
								content: "";
							}
						}
					}
				}
			}

			&-contact {
				width: 100%;
				justify-content: center;
			}
		}
	}

	@media screen and (max-width: $mediaLaptopMax) {
		#footer-links {
			&-info {
				width: 100%;
				text-align: center;

				div {
					& span {
						&:not(:last-of-type) {
							display: block;
							margin: 0 0 1rem 0;

							&::after {
								content: "";
							}
						}
					}
				}
			}

			&-contact {
				width: 100%;
				justify-content: center;
			}
		}
	}
}
