@import "./variables";

#footer {
	font-size: 2rem;
	background-color: $dark;
	color: $light;
	padding: 3rem;

	#footer-content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
		border-bottom: 1px solid $dark_sep;
		padding-bottom: 3rem;

		&-1,
		&-2 {
			> * {
				margin: 0;
			}
		}

		&-1 {
			h3 {
				margin-bottom: 3rem;
			}

			h4 {
				font-size: 1.5rem;
				padding: 0.5rem 0;
			}
		}
	}

	#footer-logos {
		text-align: center;
		display: inline;

		.logo {
			margin: 1rem;
			padding: 15px 10px;
			background-color: transparent;
			border-radius: $icon_border;
			transition: background-color 100ms ease, color 100ms ease;
			cursor: pointer;

			&:hover {
				background-color: lighten($dark, 10%);
				color: $accent_main;
			}
		}

		.separator {
			margin: 1rem 3rem;
		}

		a {
			margin: 1rem;
			text-decoration: none;
			color: white;
		}

		p {
			margin: 2rem 0 0 0;
		}
	}
}