@import "./variables";

main {
	min-height: 70vh;
	padding: 5rem;

	#page-title {
		margin: 0;
		text-align: center;
	}

	.section-title {
		font-size: 2rem;
		margin: 0 0 2rem 0;
	}

	.main-box {
		padding: 2rem;
		margin: 3rem 0;
		box-shadow: 0 2px 5px #ccc;
		border-radius: 1rem;

		h3 {
			margin: 0 0 1rem 0;
		}

		p {
			margin: 0;
		}
	}

	section:not(:last-of-type) {
		margin-bottom: 3rem; 
	}

	@media screen and (max-width: $mediaTabletMax) {
		padding: 2rem;

		.section-title {
			text-align: center;
		}
	}
}
