@import "./variables";

#navbar {
	nav {
		background-color: $dark;
		padding: 3rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: stretch;
		gap: 3rem;

		p {
			margin: 0;
			text-transform: uppercase;
			// font-style: italic;
			font-size: 1.5rem;
			font-weight: bold;
			cursor: pointer;
		}
		
		a {
			color: $light;
			text-decoration: none;
		}

		#page-logo {
			margin-right: auto;
		}

		.connexion {
			a {
				color: $accent_main;
			}
		}
	}

}