@import "./variables";

#upcoming {

	.section-title {
		font-size: 2rem;
		margin: 0 0 2rem 0;
	}

	#upcoming-container {
		display: flex;
		flex-direction: row;
		box-shadow: $element_shadow;
		border-radius: $border_radius;
		overflow: hidden;

		#upcoming-dates {
			width: 0;
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			border-right: 0.5rem solid $accent_main_hover;
			background-color: $accent_main_hover;

			.upcoming-date {
				padding: 1rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background: linear-gradient(to right, $dark 50%, $accent_main 50%);
				background-size: 200% 100%;
				background-position: left bottom;
				color: $light;
				transition: background-position 250ms ease, color 250ms ease;

				&:last-child {
					flex-grow: 1;
					justify-content: flex-start;
				}
	
				&:not(.upcoming-filler):hover {
					background-position: right bottom;
					color: $dark;
					cursor: pointer;
				}
	
				&.active {
					background: $accent_main_hover;
					background-position: right bottom;
					color: $dark;
				}
				
				h3 {
					margin: 0;
				}

				.day::after {
					content: " — ";
				}

				&.upcoming-filler {
					padding: 0;
					background-color: $dark;
				}

				&.roundTop {
					border-top-right-radius: $border_radius;
				}

				&.roundBottom {
					border-bottom-right-radius: $border_radius;
				}
			}

			.upcoming-more {
				text-decoration: none;
			}
		}

		#upcoming-details {
			width: 0;
			flex-grow: 2;
			padding: 2rem;

			&-title {
				margin: 0;
				font-size: 2rem;
			}

			&-full {
				p {
					margin: 1rem 0;
					font-size: 1.25rem;
				}
			}
		}
	}

	@media screen and (max-width: $mediaTabletMax) {
		#upcoming-container {
			flex-direction: column;
			border-left: 0.5rem solid $accent_main_hover;

			#upcoming-dates {
				width: 100%;
				flex-grow: 1;

				.upcoming-date {
					background: linear-gradient(to left, $dark 50%, $accent_main 50%);
					background-size: 200% 100%;
					background-position: right bottom;

					&.active {
						background: $accent_main_hover;
						background-position: left bottom;
					}

					&:not(.active):hover {
						color: $light;
						cursor: pointer;
					}

					&.upcoming-filler {
						display: none;
					}

					&.roundTop {
						border-top-left-radius: $border_radius;
						border-top-right-radius: 0;
					}
	
					&.roundBottom {
						border-bottom-left-radius: $border_radius;
						border-bottom-right-radius: 0;
					}
				}
			}

			#upcoming-details {
				width: auto;
				flex-grow: 1;
			}
		}
	}
	
}
